@model IEnumerable<string>

@{
    ViewData["Title"] = "Home Page";
}
<div>

    <style>
        th, td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    @{
        ViewData["Title"] = "Home Page";
    }

    <table border="1">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
</div>